.equal-height-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.custom-card-img {
  object-fit: cover !important;
  height: 200px !important;
}
