/* /* .pr-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pr-card {
  margin: 4%;
  width: 30%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.pr-card-img {
  max-width: 100%;
}

.pr-stock-square {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  border-radius: 20%;
  padding-left: 8px;
  padding-right: 4px;
  border-radius: 20px;
}

.pr-green {
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 10px;
  background-color: green;
  color: white;
}

.pr-red {
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 10px;
  background-color: red;
  color: white;
}




.pr-card-name {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.pr-card-description {
  margin-bottom: 10px;
}

.pr-card-button {
  display: block;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.pr-card-button:hover {
  text-decoration-color: #fff;
  background-color: #133961;
} */

.main-container {
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.card {
  margin: 10px;
}

.card-img-top {
  object-fit: contain;
  height: 50%;
}

.card-name {
  font-size: 1.2em;
}

.card-description {
  font-size: 1em;
}

.card-description-stock.text-success {
  color: green;
}

.card-description-stock.text-danger {
  color: red;
}

.date-picker-wrapper {
  margin: 20px 0;
}

.subtitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.pr-card-body {
  padding: 20px;
}

.pr-card-body .subtitle {
  font-weight: 400;
  font-size: small;
}