.repair-procedures-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  
  .card {
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    object-fit: cover;
  }
  
  .badge.bg-success {
    background-color: #28a745 !important;
  }
  
  .badge.bg-warning {
    background-color: #ffc107 !important;
  }
  